<table>
  <th>The Weather in Buffalo, NY, USA</th>
  <tr>
    <td><%= results %></td>
  </tr>
</table>

<hr noshade>

Powered by the <a href = 'http://openweathermap.org/' target = _new>Open Weather Map API</a>
