<!DOCTYPE html>
<html>
<head>
  <title>WheneverWeather</title>
</head>
<body>
   <script type="text/x-handlebars" data-template-name="application">
      {{ message }}
   </script>
   <script src="assets/javascripts/app.js"></script>
</body>
</html>
